{% extends "Users/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
    <br><br>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
    {% else %}
        Predicted Disease is {{ tr.Disease.Name }}
    {% endif %}
    <br><br>
    Don't want to select a Doctor <a href="{% url 'Delete_Treatment' tr.id %}">click here</a>

    <h1 class="heading">Choose Doctor</h1>
    {% for doc in Docs %}
        <a href="{% url 'Add_doc' tr.id doc.id %}">{{doc.Name}} <br>
            {{ doc.Address }} <br>
            {{ doc.Qualification }}<br>
            {{ doc.contact }} <br>
            <br><br>
        </a>
    {% endfor %}
{% endblock %}