{% extends "Users/layout.html" %}

{% block body %}
    <h1>Upload Files</h1>
    <form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload"/>
    </form>

    <br><br>
    {% for file in lastfile %}
        <a href="{{ MEDIA_URL }}{{ file.filepath }}" target="_blank">{{ file.name }}</a>
        <h4>Hi {{ file.Patient.Name }}</h4> 
        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            {{ Send.as_p }}
            <input type="submit" value="Upload"/>
        </form>
    {% endfor %}
    <br><br>
    </p>

{% endblock %}