{% extends "Users/layout.html" %}

{% block body %}
    <h1>Upload Files</h1>
    <form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload"/>
    </form>

    <br><br>
    {% for file in lastfile %}
        <a href="{{ MEDIA_URL }}{{ file.filepath }}" target="_blank">{{ file.name }}</a>
        <h4>Hi {{ file.Patient.Name }}</h4> 
    {% endfor %}
    <br><br>
    </p>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
      
      <button class="signup-btn btn btn-primary" type="button" name="button">Sign up</button>
      
      <script type="text/javascript">
        $(function () {
          // Sign up button
          $(".signup-btn").modalForm({formURL: "{% url 'SendToDoc' %}"});
      
        });
      </script>

{% endblock %}

