{% extends "Users/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login</h2>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

  <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <div class="col-4">
            {{ login.email|as_crispy_field}}
        </div>

        <div class="col-4">
           {{ login.password|as_crispy_field}}
        </div>


        <input type="hidden" name="next" value="{{ next }}" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn btn-primary" type="submit" value="Login">
    </form>
    <br>    
    &nbsp;&nbsp;&nbsp;&nbsp;Don't have an account? <a href="{% url 'reg' %}">Register here.</a><br>
    &nbsp;&nbsp;&nbsp;&nbsp;Forgot Password? <a href="{%url 'Email_Forget' %}">Change Password here.</a>

{% endblock %}